@import "vars"


/*==========  Desktop First  ==========*/


//Extra large: ≥1200px
+media-breakpoint-down(xl)
	.menu__desktop
		a 
			margin-left: 5em

//Large: ≥992px
+media-breakpoint-down(lg)
	.menu__desktop
		a 
			margin-left: 3em

//Medium: ≥768px
+media-breakpoint-down(md)
	.menu
		&__desktop
			display: none
			a
				margin-left: 0
		&__button
			display: block

//Small: ≥576px
+media-breakpoint-down(sm)
	body 
		line-height: 1.55
		p
			font-size: 13px

	.section
		&__form-input
			width: 300px
	
	.top-line
		padding-top: 1em
	
	.main-img
		img
			padding: 1.5em 0 3em 0

	.section
		&__name, &__comment
			font-size: 12px
		&__header
			font-size: 22px
			&-signup
				padding: 1.5em 0 1em 0
				font-size: 22px
		&__posts
			padding-top: 2em
		&__form-input
			margin-bottom: 3em

	.post
		padding-bottom: 2em

	.footer
		&__links-wrapper
			text-align: center
			margin: 15px 0
		&__social-wrapper
			text-align: center
			float: none
			margin: 15px 0

//Extra small: >0
+media-breakpoint-down(xs)


/*==========  Mobile First  ==========*/

//Extra small: <576px
+media-breakpoint-up(xs)

//Small: ≤576px
+media-breakpoint-up(sm)

//Medium: ≤768px
+media-breakpoint-up(md)

//Large: ≤992px
+media-breakpoint-up(lg)

//Extra large: ≤1200px
+media-breakpoint-up(xl)
